:root {
    --radius: 50px;
    --sans: Cambria;
    text-align: center;
    font-size: medium;
}

:root[color-mode="light"] {
    --surface1: #e6e6e6;
    --tertiary: #fff7d6;
    --element1: #111111;
    --element2: #222222;
    --box-shadow: 20px 20px 60px #cacaca, -20px -20px 60px #ffffff;
}

:root[color-mode="dark"] {
    --surface1: #262626;
    --tertiary: #eee8a9;
    --element1: #eeeeee;
    --element2: #dddddd;
    --box-shadow: 20px 20px 60px #1d1d1d, -20px -20px 60px #272727;
}

html {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    font-size: 1rem;
    line-height: 1.5;
    background-color: #e6e6e6;
    background-color: var(--surface1, #e6e6e6);
}

.navbar-container {
    display: flex;
    text-align: right;
    justify-content: right;
    height: 100%;
    align-items: center;
}

button {
    display: flex;
    float: right;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #111111;
    color: var(--element1, #111111);
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}

button svg {
    fill: none;
    stroke: #222222;
    stroke: var(--element2, #222222);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
}

button:hover svg,
button:focus svg,
button:focus {
    outline: none;
    fill: #fff7d6;
    fill: var(--tertiary, #fff7d6);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0.5rem;
    min-height: calc(50vh - 4rem);
}

section {
    margin-bottom: 5rem;
    color: #111111;
    color: var(--element1, #111111);
    background-color: #e6e6e6;
    background-color: var(--surface1, #e6e6e6);
    /*padding: 0.5rem 1rem;
    border-radius: var(--radius);
    width: 75%;
    box-shadow: var(--box-shadow);
    transition: all 0.1s ease-in;*/
}

main h1 {
    font-size: xx-large;
    line-height: 1.1;
    display: inline-block;
    padding: 0;
}

main .cover {
    border-radius: 50%;
}

main i {
    margin: 5px 10px;
    color: #111111;
    color: var(--element1, #111111);
    background-color: #e6e6e6;
    background-color: var(--surface1, #e6e6e6);
}

footer {
    position: fixed;
    bottom: 0em;
    width: 100%;
    color: #111111;
    color: var(--element1, #111111);
    background-color: #e6e6e6;
    background-color: var(--surface1, #e6e6e6);
}

.footer-copyright {
    font-size: small;
}

.footer-copyright-logos {
    font-size: x-small;
}

/* Mobile devices */
@media all and (max-width: 480px) and (min-width: 320px) {

    /* Toggle button */
    button svg {
        width: 20px;
        height: 20px;
    }

    p {
        margin-left: 1em;
        margin-right: 1em;
    }

    /* Cover image */
    section h1 img {
        height: 80px;
        width: 80px;
    }

    /* Social image */
    section span a i {
        font-size: 1.5em !important;
    }

    footer p {
        margin-right: 3em;
    }
}

/* iPads Mini, Tablets */
@media all and (max-width: 768px) and (min-width: 481px) {

    /* Toggle button */
    button svg {
        width: 30px;
        height: 30px;
    }

    p {
        margin-left: 5em;
        margin-right: 5em;
    }

    /* Cover image */
    section h1 img {
        height: 120px;
        width: 120px;
    }

    /* Social image */
    section span a i {
        font-size: 1.8em !important;
    }
}

/* Small screen laptops / iPad Air / iPad Pro */
@media all and (max-width: 1199px) and (min-width: 769px) {

    /* Toggle button */
    button svg {
        width: 30px;
        height: 30px;
    }

    p {
        margin-left: 5em;
        margin-right: 5em;
    }

    /* Cover image */
    section h1 img {
        height: 150px;
        width: 150px;
    }

    /* Social image */
    section span a i {
        font-size: 1.8em !important;
    }
}

/* Big laptops / Monitors */
@media all and (max-width: 1799px) and (min-width: 1200px) {

    /* Toggle button */
    button svg {
        width: 40px;
        height: 40px;
    }

    p {
        margin-left: 10em;
        margin-right: 10em;
    }

    /* Cover image */
    section h1 img {
        height: 150px;
        width: 150px;
    }

    /* Social image */
    section span a i {
        font-size: 1.8em !important;
    }
}

/* 2K+ Monitors */
@media all and (min-width: 1800px) {

    /* Toggle button */
    svg {
        width: 40px;
        height: 40px;
    }

    p {
        margin-left: 10em;
        margin-right: 10em;
    }

    /* Cover image */
    section h1 img {
        height: 150px;
        width: 150px;
    }

    /* Social image */
    section span a i {
        font-size: 2em !important;
    }
}