:root {
    --radius: 50px;
    --sans: Cambria;
    text-align: center;
    font-size: medium;
}

:root[color-mode="light"] {
    --surface1: #e6e6e6;
    --tertiary: #ecd885;
    --element1: #111111;
    --element2: #222222;
    --box-shadow: 0 4px 8px rgba(202, 202, 202, 1), 0 6px 20px 0 rgba(255, 255, 255, 1);
}

:root[color-mode="dark"] {
    --surface1: #262626;
    --tertiary: #ffffff;
    --element1: #eeeeee;
    --element2: #dddddd;
    --box-shadow: 0 4px 8px rgba(49, 49, 49, 1), 0 6px 20px 0 rgba(54, 50, 50, 1);
    svg {
        filter: invert(100%)
    }
}

html {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    font-size: 1em;
    line-height: 1.5;
    background-color: #e6e6e6;
    background-color: var(--surface1, #e6e6e6);
}

#toggleMode {
    display: none;
}

#toggleLabel {
    position:absolute;
    top:1em;
    right:1em;
    padding: 0.75em;
    border-radius:1.5em;
    width: 2em;
    height: 2em;
    cursor:pointer;
    box-shadow: var(--box-shadow);
}

.fa-sun {
    fill: #ecd885;
    fill: var(--tertiary, #ecd885);
    stroke:#ecd885;
    stroke-width:2;
    stroke-linecap:round;
    stroke-linejoin:round;
    position: relative;
    font-size: 1.5em;
    display: none;
}

.fa-moon {
    position: relative;
    font-size: 1.5em;
    display: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #111111;
    color: var(--element1, #111111);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 0.5em;
    min-height: calc(50vh - 4em);
}

section {
    color: #111111;
    color: var(--element1, #111111);
}

main h1 {
    font-size: xx-large;
    line-height: 1.1;
    display: inline-block;
    padding: 0;
}

.cover {
    border-radius: 50%;
}

main i {
    margin: 5px 10px;
    color: #111111;
    color: var(--element1, #111111);
    background-color: #e6e6e6;
    background-color: var(--surface1, #e6e6e6);
}

footer {
    position: fixed;
    bottom: 0em;
    width: 100%;
    color: #111111;
    color: var(--element1, #111111);
    background-color: #e6e6e6;
    background-color: var(--surface1, #e6e6e6);
    font-size: xx-small;
}

/* Small Mobile devices - Mi A2 */
@media all and (max-width: 319px) and (min-width: 0px) {

    /* Toggle button */
    #toggleLabel {
        font-size: xx-small;
    }

    svg {
        width: 20px;
        height: 20px;
    }

    p {
        margin-left: 0em;
        margin-right: 0em;
        font-size: smaller;
    }

    /* Cover image */
    section h1 img {
        height: 50px;
        width: 50px;
    }

    footer p {
        margin-right: 1.5em;
    }
}

/* Mobile devices - iPhone 14 Pro Max*/
@media all and (max-width: 480px) and (min-width: 320px) {

    /* Toggle button */
    svg {
        width: 26px;
    }

    p {
        margin-left: 1em;
        margin-right: 1em;
    }

    /* Cover image */
    section h1 img {
        height: 80px;
        width: 80px;
    }

    footer p {
        margin-right: 3em;
    }
}

/* Small screen laptops / iPad Air / iPad Pro / iPads Mini, Tablets */
@media all and (max-width: 1199px) and (min-width: 481px) {
    p {
        margin-left: 5em;
        margin-right: 5em;
    }
}

/* Big laptops / Monitors / Others */
@media all and (min-width: 1200px) {
    p {
        margin-left: 10em;
        margin-right: 10em;
    }
}
